.container{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 5px;
    margin: 8px;
    cursor: pointer;
}

.photoSide{
    display: flex;
    margin: 10px;
    align-items: center;
}

.infoSide{
    display: flex;
    flex-direction: column;
}

.addButton{
    width: 25px;
    height: 25px;
    cursor: pointer;
}